body {
    font-family: Arial;
    background: #1e1e1e;
    color: white;
    text-align: center;
}

input, button {
    margin: 5px;
    padding: 10px;
}

#chat-box {
    width: 300px;
    height: 200px;
    border: 1px solid white;
    margin: auto;
}