<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Чат</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>

<h2>Привет, {{ session['user'] }}</h2>   
<a href="/logout">Выйти</a>

<hr>

<!-- Сообщения -->
 <div class="chat-box">
    {% for msg in messages %}
        <p><b>{{ msg.user }}:</b> {{ msg.text }}</p>
    {% endfor %}
 </div>

 <hr>

 <!-- Форма ввода-->
<form method="post">
    <input type="text" name="text" placeholder="Клацай на клавиши" required>
    <button type="submit">Отправить</button>
</form>

</body>
</html>