<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h2>Регистрация</h2>

    <input type="text" id="phone" placeholder="+79998887766">
    <button type="button" oneclick="sendCode()">Отправить код</button>

    <br><br>

    <input type="text" id="code" placeholder="Код из SMS">
    <button type="button" oneclick="verifyCode()">Подтвердить</buttone>

    <script>
    function sendCode() {
        fetch("/send-code",{
            method: "POST",
            headers: {"Content-Type": "application/json"},
            body: JSON.stringify({
                phone: document.getElementById("phone").volue
            })
        })
        .then(r => r.json())
        .then(d => alert(d.message || d.error));
    }

    function verifyCode() {
        fetch("/verify-code", {
            method: "POST",
            headers: {"Content-Type": "application/json"},
            body: JSON.stringify({
                phone: document.getElementById("phone").value,
                code: document.getElementById("code").value
            })
        })
        .then(r => r.json())
        .then(d => alert(d.message || d.error));
    }
    </script>

    <a href="/login">Назад ко входу</a>
</body>
</html>