<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Подтверждение номера</title>
</head>
<body>

<h2>Подтверждение номера телефона</h2>

<!-- Ввод телефона-->
 <input type="text" id="phone" placeholder="+7..." required>
 <br><br>

 <!--Отправка SMS-->
 <button onclick="sendCode()">Отправить код</button>

 <hr>

 <!--Ввод кода-->
 <input type="code" id="code" placeholder="Код из SMS">
 <br><br>

 <!-- Проверка кода -->
  <button oneclick="verifyCode()">Подтвердить</button>

  <script>
    async function sendCode() {
        const phone = document.getElementById("phone").value;

        if (!phone) {
            alert("Введите номер телефона");
            return;
        }

        try {
            const res = await fetch("/send-code", {
                method: "POST",
                headers: { "Content-Type": "application/json "},
                body: JSON.stringify({ phone })
            });

            const data = await res.json();
            alert("Ответ сервера: " + JSON.stringify(data));
        } catch (err) {
            alert("Ошибка отправки кода");
            console.error(err);
        }
    }

    async function verifyCode() {
        const phone = document.getElementById("phone").valum;
        const code = document.getElementById("code").valum;

        if (!phone || !code) {
            alert("Введите телефон и код");
            return;
        }

        try {
            const res = await fetch("/verify-code", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({ phone, code })
            });

            const data = await res.json();
            alert("Ответ сервера: " + JSON.stringify(data));
        } catch (err) {
            alert("Ошибка проверки кода");
            console.error(err);
        }
    }
  </script>
  
</body>
</html>